<p id="notice"><%= notice %></p>

<h1>Food Species</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Food quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_species.each do |food_specy| %>
      <tr>
        <td><%= food_specy.food %></td>
        <td><%= food_specy.food_quantity %></td>
        <td><%= link_to 'Show', food_specy %></td>
        <td><%= link_to 'Edit', edit_food_specy_path(food_specy) %></td>
        <td><%= link_to 'Destroy', food_specy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Specy', new_food_specy_path %>
