
<%= simple_form_for(@ambiental_condition) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ideal_temperature %>
    <%= f.input :ideal_oxigen %>
    <%= f.input :ideal_ph %>
    <%= f.input :ideal_ammonia %>
    <%= f.input :ideal_acidity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
