<p id="notice"><%= notice %></p>

<h1>Ambiental Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Ideal temperature</th>
      <th>Ideal oxigen</th>
      <th>Ideal ph</th>
      <th>Ideal ammonia</th>
      <th>Ideal acidity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ambiental_conditions.each do |ambiental_condition| %>
      <tr>
        <td><%= ambiental_condition.ideal_temperature %></td>
        <td><%= ambiental_condition.ideal_oxigen %></td>
        <td><%= ambiental_condition.ideal_ph %></td>
        <td><%= ambiental_condition.ideal_ammonia %></td>
        <td><%= ambiental_condition.ideal_acidity %></td>
        <td><%= link_to 'Show', ambiental_condition %></td>
        <td><%= link_to 'Edit', edit_ambiental_condition_path(ambiental_condition) %></td>
        <td><%= link_to 'Destroy', ambiental_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ambiental Condition', new_ambiental_condition_path %>
