<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Criar Tanque</h1>
          <p>Bootstrap default form components</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">cadastrar</a>
          </li>
        </ul>
      </div>
      <div class="tile">
        <%= simple_form_for(@species) do |f| %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :specie_name, input_html: {class: "form-control"}, label: "Nome da Espécie" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :price, input_html: {class: "form-control"}, label: "Preço" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :weight, input_html: {class: "form-control"}, label: "Peso" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :food_specie, input_html: {class: "form-control"}, label: "Espécia de Ração" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :ambiental_condition, input_html: {class: "form-control"}, label: "Condição Ambiental" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.input :observation, input_html: {class: "form-control"}, label: "Observação" %>
              </div>
            </div>
          </div>


          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>