<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Criar Tanque</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tanques</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">cadastrar</a>
          </li>
        </ul>
      </div>
      <div class="tile">
        <%= simple_form_for(@tank) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.association :user, input_html: {class: "form-control"}, label: "Usuario", error: "Usuario não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <%= f.association :specie, input_html: {class: "form-control"}, label: "Espécie", error: "Espécie não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <%= f.input :tank_type, input_html: {class: "form-control"}, label: "Tipo do Tanque", error: "Tipo do Tanque não pode ficar em branco" %>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :population_date, input_html: {class: "form-control date", type: "text"}, label: "Data do Povoamento", error: "Data do Povoamento não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :initial_quantity, input_html: {class: "form-control"}, label: "Quantidade Inicial", error: "Quantidade Inicial não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :depopulation_date, input_html: {class: "form-control"}, label: "Data do Despovoamento", error: "Data do Despovoamento não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :final_quantity, input_html: {class: "form-control date", type: "text"}, label: "Quantidade Final", error: "Quantidade Final não pode ficar em branco" %>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <%= button_tag(type: "submit", class: "btn btn-primary pull-right") do %>
                <i class="fa fa-save"></i>
                <span>Salvar</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </main>
  </div>
</div>