<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tank.user %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @tank.specie %>
</p>

<p>
  <strong>Population date:</strong>
  <%= @tank.population_date %>
</p>

<p>
  <strong>Initial quantity:</strong>
  <%= @tank.initial_quantity %>
</p>

<p>
  <strong>Depopulation date:</strong>
  <%= @tank.depopulation_date %>
</p>

<p>
  <strong>Final quantity:</strong>
  <%= @tank.final_quantity %>
</p>

<%= link_to 'Edit', edit_tank_path(@tank) %> |
<%= link_to 'Back', tanks_path %>
