<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">tanques</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">listar</a>
          </li>
        </ul>
      </div>

      <% @tanks.each do |tank| %>
        <div class="col-md4">
          <div class="tile">
            <h3 class="tile-title">Aquário <%= tank.id %></h3>
            <p><strong>Espécies:</strong> <%= tank.specie.name %></p>
            <p><strong>Dia da População:</strong> <span class="date_mask"><%= tank.population_date %></span></p>
            <p><strong>População Inicial: </strong> <%= tank.initial_quantity %></p>
            <% if tank.depopulation_date %>
              <p><strong>Dia da Despopulação: </strong> <%= tank.depopulation_date %></p>
            <% end %>
            <% if tank.final_quantity %>
              <p><strong>Quantidade Final: </strong> <%= tank.final_quantity %></p>
          <% end %>
          </div>
        </div>
      <% end %>
    </main>
  </div>
</div>

<!--<tr>-->
<!--  <td><%#= tank.user %></td>-->
<!--  <td><%#= tank.specie %></td>-->
<!--  <td><%#= tank.population_date %></td>-->
<!--  <td><%#= tank.initial_quantity %></td>-->
<%# if tank.depopulation_date %>
<!--    <td><%#= tank.depopulation_date %></td>-->
<%# else %>
<!--    <td>-</td>-->
<%# end %>
<%# if tank.depopulation_date %>
<!--    <td><%#= tank.final_quantity %></td>-->
<%# else %>
<!--    <td>-</td>-->
<%# end %>
<!--  <td>-->
<%#= link_to "<button class='btn btn-outline-info'><i class='fa fa-edit'></i><span> Editar</span></button>", edit_tank_path(tank) %>
<%#= link_to " <button class='btn btn-outline-danger'><i class='fa fa-trash'></i><span> Excluir</span></button>", tank, method: :delete, data: {confirm: 'Are you sure?'} %>
<!--  </td>-->
<!--</tr>-->