<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-shower fa-3x"></i>
            <div class="info">
              <h4>Tanques</h4>
              <p><b><%= Tank.all.length %></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fas fa fa-inbox fa-3x"></i>
            <div class="info">
              <h4>Ração</h4>
              <p><b><%= FoodSpecie.all.length %></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-th-large fa-3x"></i>
            <div class="info">
              <h4>Espécies</h4>
              <p><b><%= Specie.all.length %></b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-database fa-3x"></i>
            <div class="info">
              <h4>Biomassa</h4>
              <p><b><%= @biomassa %></b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% @tanks.each do |tank| %>
          <div class="col-md-4">
            <div class="tile" style="background-color: #B4CDCD;">
              <h3 class="tile-title">Tanque <%= tank.tank_type %></h3>
              <p><strong>Espécies:</strong> <%= tank.specie.specie_name %></p>
              <p><strong>Dia da População:</strong> <span class="date_mask"><%= tank.population_date %></span></p>
              <p><strong>População Inicial: </strong> <%= tank.initial_quantity %></p>
              <% if tank.depopulation_date %>
                <p><strong>Dia da Despopulação: </strong> <%= tank.depopulation_date %></p>
              <% end %>
              <% if tank.final_quantity %>
                <p><strong>Quantidade Final: </strong> <%= tank.final_quantity %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">
            <h3>Condição Ambiental Ideal</h3>
            <canvas id="polar_area_chart"></canvas>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body">
            <h3>Valores no Tanque</h3>
            <canvas id="radar_chart"></canvas>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
          <div class="card card-body">
            <h3>Diferença entre os valores no tanque e a condição ambiental ideal</h3>
            <canvas id="line_chart"></canvas>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>