<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Listar Sensores de Solo</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Sensores de Solo</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">listar</a>
          </li>
        </ul>
      </div>

      <div class="tile">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Tanque</th>
            <th>Cálcio</th>
            <th>PH</th>
            <th>Fósforo</th>
            <th>Carbono</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @solo_sensors.each do |solo_sensor| %>
            <tr>
              <td><%= solo_sensor.tank %></td>
              <td><%= solo_sensor.calcium %></td>
              <td><%= solo_sensor.ph %></td>
              <td><%= solo_sensor.phosphoror %></td>
              <td><%= solo_sensor.carbon %></td>
              <td>
                <%= link_to "<button class='btn btn-outline-info'><i class='fa fa-edit'></i><span> Editar</span></button>".html_safe, edit_solo_sensor_path(solo_sensor) %>
                <%= link_to "<button class='btn btn-outline-danger'><i class='fa fa-trash'></i><span> Excluir</span></button>".html_safe, solo_sensor, method: :delete, data: {confirm: 'Are you sure?'} %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>