<p id="notice"><%= notice %></p>

<p>
  <strong>Tank:</strong>
  <%= @solo_sensor.tank %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @solo_sensor.calcium %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @solo_sensor.ph %>
</p>

<p>
  <strong>Phosphoror:</strong>
  <%= @solo_sensor.phosphoror %>
</p>

<p>
  <strong>Carbon:</strong>
  <%= @solo_sensor.carbon %>
</p>

<%= link_to 'Edit', edit_solo_sensor_path(@solo_sensor) %> |
<%= link_to 'Back', solo_sensors_path %>
