<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Adicionar Dados Para sensor de Água</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Sensores de água</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">cadastrar</a>
          </li>
        </ul>
      </div>
      <div class="tile">
        <%= simple_form_for(@water_sensor) do |f| %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.association :tank, input_html: {class: "form-control"}, include_blank: "Selecione", label: "Tanque", error: "Tanque não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :calcium, input_html: {class: "form-control"}, label: "Cálcio", error: "Cálcio não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :ph, input_html: {class: "form-control"}, label: "PH", error: "PH não pode ficar em branco" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :phosphoror, input_html: {class: "form-control"}, label: "Fósforo", error: "Fósforo não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :hydrogen, input_html: {class: "form-control"}, label: "Hidrogênio", error: "Hidrogênio não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :oxigen, input_html: {class: "form-control"}, label: "Oxigênio", error: "Oxigênio não pode ficar em branco" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <%= f.input :acidity, input_html: {class: "form-control"}, label: "Acidez", error: "Acidez não pode ficar em branco" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= button_tag(type: "submit", class: "btn btn-primary pull-right") do %>
                <i class="fa fa-save"></i>
                <span>Salvar</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>