<div class="row">
  <div class="col-md-12">
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Listar Sensores de Água</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Sensores de Água</li>
          <li class="breadcrumb-item">
            <a href="#" class="a_black">listar</a>
          </li>
        </ul>
      </div>

      <div class="tile">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Tank</th>
            <th>Calcium</th>
            <th>Ph</th>
            <th>Phosphoror</th>
            <th>Hydrogen</th>
            <th>Oxigen</th>
            <th>Acidity</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @water_sensors.each do |water_sensor| %>
            <tr>
              <td><%= water_sensor.tank %></td>
              <td><%= water_sensor.calcium %></td>
              <td><%= water_sensor.ph %></td>
              <td><%= water_sensor.phosphoror %></td>
              <td><%= water_sensor.hydrogen %></td>
              <td><%= water_sensor.oxigen %></td>
              <td><%= water_sensor.acidity %></td>
              <td><%= link_to 'Show', water_sensor %></td>
              <td><%= link_to 'Edit', edit_water_sensor_path(water_sensor) %></td>
              <td><%= link_to 'Destroy', water_sensor, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>