<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "top_logo" %>
    <title>Águas Tranquilas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "vali-admin", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "//sites.fullprog.com/testes/assets/datepicker/locales/bootstrap-datepicker.pt-BR.min.js", "data-turbolinks-track": "reload"  %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "vali-admin.js", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="app sidebar-mini rtl  pace-done" data-gr-c-s-loaded="true">
    <div class="notification">
      <%= flash_message %>
    </div>
    <% if user_signed_in? %>
      <%= render "shared/topbar" %>
      <%= render "shared/sidebar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
